<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% if '/cuentas/' == request.path %} active {% endif %}" href="{% url 'perfil' %}"> Mi Perfil </a>
        <a class="list-group-item {% if '/mis_pedidos/' in request.path %} active {% endif %}" href="{% url 'mis_pedidos' %}"> Mis Pedidos </a>
        <a class="list-group-item {% if '/editar_perfil/' in request.path %} active {% endif %}" href="{% url 'editar_perfil' %}"> Editar Perfil </a>
        <a class="list-group-item {% if '/cambiar_contrasena/' in request.path %} active {% endif %}" href="{% url 'cambiar_contrasena' %}"> Cambiar Contraseña </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>